.planet-title-name {
    font-size: var(--font-size-header);
    font-weight: lighter;
    color: var(--color-dark-gray);
    margin-bottom: var(--spacing-small);
}

.planet-main-text{
    font-size: var(--font-size-main);
    font-weight: lighter;
    font-style: italic;
    color: var(--color-light-gray);
    margin-bottom: var(--spacing-small);

}


.planet-wrapper{
    display: flex;
    justify-content: left;
    background-color: var(--color-white);
    height: 400px;
}

.planet-info-wrapper{
    padding: 20px 0 0 40px;
}

.planet-img{
    height: 100%;
    max-width: 30%;
    object-fit: cover;
    object-position: top center;
}