.nav-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-large);
}

.nav-list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.nav-a{
    display: block;
    margin: 0 10px;
    padding: 7px 10px;
    min-width: 70px;
    border: 2px solid transparent;
    border-radius: var(--border-radius-small);
    color: var(--color-white);
    text-align: center;
    font-family:  var(--font-family-main);
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    text-shadow: var(--text-shadow-blue);

    transition: var(--transition);
}

.nav-a.router-link-active{
    border: 2px solid var(--color-violet);
    text-shadow: none;
    color: var(--color-violet);
}