:root {
  --color-dark-gray : #333131;
  --color-light-gray: #737373;
  --color-white : #fff;
  --color-black : #000;
  --color-yellow : #f8f806;
  --color-blue: #6a83b4;
  --color-violet: #ae72c2;

  --font-size-subHeader: 18px ;
  --font-size-header : 26px;
  --font-size-main : 16px;

  --font-family-main : sans-serif;

  --width-max: 1200px;

  --font-weight-bold: 600;

  --text-shadow-blue:
          0 0 2px var(--color-white),
          0 0 40px var(--color-blue);

  --border-radius-small : 3px;
  --spacing-small: 10px;
  --spacing-medium : 20px;
  --spacing-large : 30px;

  --transition : .4s;

  --theme-default-header : #f1f10f;
  --theme-default-bg-image: url(@/static/bg-star.jpg);
}

*{
  margin: 0;
  padding: 0;
}


body{
  background-color:var(--color-dark-gray);
  font-family: var(--font-family-main);
  color: white;
  font-size: var(--font-size-main);
  background-image: var(--theme-default-bg-image) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
}

img{
  display: block;
}

.page-title{
  color: var(--theme-default-header);
  font-size: var(--font-size-header);
  margin-top: var(--spacing-medium) ;
  margin-left: var(--spacing-medium) ;

  transition: color var(--transition);
}

/*@media (hover: hover) {*/
/*  a:hover {*/
/*    background-color: hsla(160, 100%, 37%, 0.2);*/
/*  }*/
/*}*/

/*@media (min-width: 1024px) {*/
/*  body {*/
/*    display: flex;*/
/*    place-items: center;*/
/*  }*/

/*  */
/*}*/
