:root {
  --color-dark-gray : #333131;
  --color-light-gray: #737373;
  --color-white : #fff;
  --color-black : #000;
  --color-yellow : #ffff00;

  --font-size-header : 26px;
  --font-family-main : sans-serif;

  --border-radius-small : 3px;
  --spacing-medium : 20px;

  --transition : .4s;

  --theme-default-header : #ffff00;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color:var(--color-dark-gray);
  font-family: var(--font-family-main);
}

.page-title{
  color: var(--theme-default-header);
  font-size: var(--font-size-header);
  margin-top: var(--spacing-medium) ;
  margin-left: var(--spacing-medium) ;

  transition: color var(--transition);
}

/*@media (hover: hover) {*/
/*  a:hover {*/
/*    background-color: hsla(160, 100%, 37%, 0.2);*/
/*  }*/
/*}*/

/*@media (min-width: 1024px) {*/
/*  body {*/
/*    display: flex;*/
/*    place-items: center;*/
/*  }*/

/*  */
/*}*/
