.category-container{
    display: flex;
    justify-content: center;
}

.homeTitle{
    margin-bottom: var(--spacing-large);
}

.child-container:not(:last-child) {
    margin-right: var(--spacing-large);
}